<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form Lab4</title>
  </head>
  <body>
    <a href="http://127.0.0.1:8000/lab-4/">Tabel</a>
    <a href="http://127.0.0.1:8000/lab-4/note-list">List Note</a>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
  </body>
</html>
