<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Note Table</title>
    </head>
    <style>
      table, th, td {
        border:1px solid black;
      }
    </style>
      <body>
        <a href="http://127.0.0.1:8000/lab-4/note-list">List Note</a>
        <a href="http://127.0.0.1:8000/lab-4/add-note">Tambah Note</a>
        <h1>Notes</h1>
        <table style="width:75%">
          <tr>
            <th style="background-color: cornflowerblue;">Judul</th>
            <th style="background-color: cornflowerblue;">Dari</th>
            <th style="background-color: cornflowerblue;">Untuk</th>
            <th style="background-color: cornflowerblue;">Pesan</th>
          </tr>
          {% for notes in notes %}
            <tr>
              <td>{{ notes.title_message }}</td>
              <td>{{ notes.from_message }}</td>
              <td>{{ notes.to_message }}</td>
              <td>{{ notes.message }}</td>
            </tr>
          {% endfor %}
        </table>
      </body>
</html>
