<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note List</title>
  </head>
  <body>
    <div class="card">
        <div class="container">
            <a href="http://127.0.0.1:8000/lab-4/">Index</a>
            <a href="http://127.0.0.1:8000/lab-4/add-note">Tambah Note</a>
            {% for notes in notes %}
                <h4><b>Judul: {{notes.title_message}}</b></h4>
                <p style="color: crimson">Dari: {{notes.from_message}}</p>
                <p style="color: blueviolet">Untuk: {{notes.to_message}}</p>
                <p style="color: green">Pesan: {{notes.message}}</p>
            {% endfor %}
        </div>
    </div>
  </body>
</html>
