<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Teman</title>
  </head>
  <body>
    <table>
      {% for friends in friends %}
      <tr>
        <td>{{ friends.friend_name }}</td>
        <td>{{ friends.friend_npm }}</td>
        <td>{{ friends.dob }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
