<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Note Table</title>
    </head>
    <style>
      table, th, td {
        border:1px solid black;
      }
    </style>
      <body>
        <h1>Notes</h1>
        <table style="width:75%">
          <tr>
            <th>Judul</th>
            <th>Dari</th>
            <th>Untuk</th>
            <th>Pesan</th>
          </tr>
          {% for notes in notes %}
            <tr>
              <td>{{ notes.title_message }}</td>
              <td>{{ notes.from_message }}</td>
              <td>{{ notes.to_message }}</td>
              <td>{{ notes.message }}</td>
            </tr>
          {% endfor %}
        </table>
      </body>
</html>
