<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Teman</title>
  </head>
  <body>
    <table>
      {% for friends in friends %}
      <tr>
        <td>{{ friends.friend_name }}</td>
        <td>{{ friends.friend_npm }}</td>
        <td>{{ friends.dob }}</td>
      </tr>
      {% endfor %}
      <!-- TODO loop from Friend model -->
      <!-- EXAMPLE SECTION -->
      <tr>
        <td>Asmara Nugi</td>
        <td>1706032156</td>
        <td>May 1, 1999</td>
      </tr>
      <tr>
        <td>Fadli Rais</td>
        <td>1706032370</td>
        <td>Sept 11, 1998</td>
      </tr>
      <!-- END SECTION -->
    </table>
  </body>
</html>
